#main{
    background-color: var(--fundo-claro);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

#container{
    background-color: white;
    width: 80%;
    height: 90%;
}

#lado_cima{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#lado_cima h1{
    color: var(--laranja-destaque);
    font-size: var(--tamanho-titulo);
    font-weight: 500;
    margin-bottom: 30px;
}

#lado_cima img{
    border-radius: 10px;
}

#lado_baixo{
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
}